.main
{
	display: flex;
	justify-content: space-around;
}

.btns
{
	border: 1px solid blue;
	width: 350px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button
{
	width: 150px;
	height: 30px;
}

button:nth-of-type(1)
{
	margin-right: 10px;
}

.strings
{
	border: 2px dashed blue;
	width: 400px;
}

.btmline
{
	border-bottom: 1px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}


.slider
{
	border: 2px solid grey;
	width: 1000px;
	height: 380px;
	margin: 30px auto;
	display: flex;
	justify-content: space-around;
}

.slide
{
	border: 2px solid #F4900A;
	width: 150px;
	height: 200px;
}

.slide:hover
{
	box-shadow: 0 180px 70px -50px, 0 19px 20px -10px;
	transition: box-shadow 0.5s ease-out 0.2s;
}

.slide_shadow
{
	box-shadow: 0 180px 70px -50px, 0 19px 20px -10px;
	transition: box-shadow 0.5s ease-out 0.2s;
}

.left, .right
{
	width: 150px;
	height: 80px;
	display: flex;
	align-self: center;
}